<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brasil Digital</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../image/favicon.ico" type="image/x-icon">
</head>
<body>
    <nav class="navBar">
        <button id="btnMenu" class="botaomenu">
            <img src="../image/botaomenu.png" alt="">
        </button>
        <h1>Brasil Digital</h1>
        <h2></h2>
        <li class="linktela"><a href="../../index.html">Principal</a></li>
        <li class="linktela"><a href="agendar.html">Agendar</a></li>
        <li class="linktela"><a href="sobre.html">Sobre</a></li><br>
    </nav>
    <div class="caixaopcoes" id="menu"><br><br><br>
        <li class="linkmenu"><a class="principal" href="../../index.html">Principal</a></li><br><br>
        <li class="linkmenu"><a class="agendar" href="agendar.html">Agendar</a></li><br><br>
        <li class="linkmenu"><a class="sobre" href="sobre.html">Sobre</a></li><br><br>
    </div>
    <section id="section">
        <div>
            <main class="cartao">
                <div class="linhatitulo">
                    <img src="../../view/image/sobre.png" alt="notebook">
                    <h2>
                        Sobre
                    </h2>
                </div>
                <h4>A Brasil Digital é uma das melhores assitências técnicas da cidade, aqui você encontra serviço de qualidade
                    e os melhores profissionais a sua disposição.
                </h4>
                <h4>Trabalhamos com manutenção de computadores, notebooks e impressoras. Além de formatação, instalação do Windows, MacOS e pacote Office.
                    Também vendemos pc's (inclusive pc gamer), peças e acessórios. 
                </h4>
                <h3>
                    Horário de atividade:
                </h3>
                <div>
                    <ul class="listaservicos">
                        <li><img src="../image/chavemenor 1.png" alt="" class="imgChave">Aberto todos os dias</li>
                        <li><img src="../image/chavemenor 1.png" alt="" class="imgChave">08:00 às 12:00 horas</li>
                        <li><img src="../image/chavemenor 1.png" alt="" class="imgChave">14:00 às 20:00 horas</li>
                    </ul>
                </div>
                <h3>
                    Contato:
                </h3>
                <div>
                    <ul class="listaservicos">
                        <li><img src="../image/chavemenor 1.png" alt="" class="imgChave">(91) 99805-4919</li>
                        <li><img src="../image/chavemenor 1.png" alt="" class="imgChave">(91) 98933-0219</li>
                    </ul>
                </div>
                <h3>
                    Localização:
                </h3>
                <div>
                    <ul class="listaservicos">
                        <li><img src="../image/chavemenor 1.png" alt="" class="imgChave">Rua Eixo W Dois, Bairro Célio Miranda, Paragominas-PA.</li>
                    </ul>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d996.0879998630803!2d-47.352965070808864!3d-2.9995646605959383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92b767811e0df9ed%3A0x76f868c364f72911!2sBrasil%20Digital%20(novo)!5e0!3m2!1spt-BR!2sbr!4v1660745833619!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
                <button class="telaanterior">
                    Anterior
                </button>
            </main>
        </div><br><br>
        <footer>
            <p class="textFooter">&copybrasildigital | 2022</p>
            <p><img src="../../view/image/zapp.png" alt="zapp" class="contato"><img class="face" src="../../view/image/messenger1.png" alt="Facebook"><img class="insta" src="../../view/image/instagram.png" alt="instagram"></p>
        </footer>
    </section>
</body>
<script src="../../control/sobre.js"></script>
</html>